html{
    font-family: 'Yeseva One', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
     padding : 0;
    margin: 0;
}
body {
    background: $main; 

  
}

h1, h2, h3, h4, p, a, button {
  padding: 0;
    margin: 0;
}
h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 4rem;
    text-transform: capitalize;
    color: $title;
    text-align: center;
   

}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: $main;
    text-transform: uppercase;
   
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: $border;
    padding: 10px;
    text-transform: capitalize;
}
h4{
  font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: $accent;
}
p {
  font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: $border;
}
button {
  background: $tiles;
   font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid $border;
    text-transform: capitalize;


}
.wrapper {
    max-width: 800px;
    width: 80vw;
    margin: 0 auto;
}


#memory {
  height:70vh;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;


}

.card {
  width: calc(100% /4 - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  perspective: 800px;
  transform-style: preserve-3d;
}
  

.front, .back {
  position: absolute;
  height:100%;
  width:100%;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  border: 3px solid $border;
  transition:all 0.5s;
  backface-visibility:hidden;  
}
.front {
  background:$tiles; 
  
}

.back {
  background:$accent; 
  transform:rotateY(180deg); 
}

.frog {
  position: absolute;
   width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

.card_match {
  // visibility: hidden;
  transform: rotateY(180deg);
}

.selected_card {
  border: 4px solid $accent;
  transform: rotateY(180deg);
}





@media (max-width: 700px){
    h1{
        font-size: 3rem;
    }
    .wrapper {
      width: 95vw;
    }
    .game {
      height: 70vh;
    }
    // .front, .back {
    //   width: 60%;
    //   height: 60%;
    //   margin: 0;
    // }
    // .card{
    //    width: calc(30% - 10px);
    //     height: calc(35% - 10px);
    //     margin:  5px;
    // }
    // .game{
    //   margin: 0;
    // }
    // .frog{
    //   width: 50px;
    // }

  }

@media (max-width: 500px){
    h1{
        display: none;
    }

    .wrapper {
      width: 100vw;
    }

    .game {
      height: 50vh;
    }

  }