html{
    font-family: 'Yeseva One', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
}
body {
    background: $main;
    padding : 0;
    margin: 0;
}

h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 5rem;
    text-transform: capitalize;
    color: $title;
    text-align: center;

}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: $border;
}
.wrapper {
    width: 1280px;
    border: 1px solid red;
    margin: 0 auto;
}


.game {
   width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  perspective: 800px;
  transform-style: preserve-3d;
}
  

.front, .back {
  position: absolute;
  height:100%;
  width:100%;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  border: 3px solid $border;
  transition:all 0.5s;
  backface-visibility:hidden;  
}
.front {
  background:$tiles; 
  
}
.back {
  background:$accent; 
  transform:rotateY(180deg); 
}

.frog {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

.cardMatch {
  visibility: hidden;
}

  .selectedCard {
    border: 4px solid blue;
    transform: rotateY(180deg);
}